@media (max-width: 991px) {

    body{
        /*background-color: #c9302c;*/
    }

    .header- li a{
        font-family: "Futura Md BT";
        margin-left: .4em;
        margin-left: inherit;
        margin-right: .4em;
        margin-right: inherit;
        padding-bottom: inherit;
        border: none;
        border-image: none;
        border-bottom: none;
        border-image-slice: fill;
        border-image-repeat: round;
        /*text-align: center;*/
        /*border-image-outset:10px 5px 15px 10px;*/
    }

    .header- li a:hover{
    }

    .logo{
        /*width: 13.4em;*/
        /*border: 1px solid blue;*/
    }
}



@media (max-width: 767px) {
    .facebookflat {
        margin: 0;
        padding: 0;

        background-image: none;
    }

    .logo{
        width: 10em;
        padding-left: 0;
        margin-left: 0;
    }
    .footer{
        padding-top: 2.5em;
        padding-bottom: .1em;
    }

    .div-logo{
    }

    .info-contacto{
    }

    .derechos-res{
        padding-top: 1em;
    }

    .prev3{
        /*margin: 0 auto;*/
        /*margin-top: -2.5em;*/
        /*text-align: center;*/
        margin-top: 0;
        margin-bottom: 0;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        /*background-size: 17em;*/
        height: 0;
        width: 0;
        /*border: 1px solid red;*/
    }

    .next3{
        /*transform: rotate(180deg);*/
        /*margin: 0 auto;*/
        /*margin-top: -2.5em;*/
        /*text-align: center;*/
        margin-top: 0;
        margin-bottom: 0;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        /*background-size: 17em;*/
        height: 0;
        width: 0em;
    }

}