.head-resu-logo{
    width: 18em;
    /*background-color: yellow;*/
    /*display: block;*/
    text-align: center;
    margin: 0 auto;
}

.aument-font{
    /*font-size: 1.2em;*/
}
*{
    /*border: 1px solid red;*/
}